h1, h2{
    margin-top:40px;
}
.background{
    background-image: url("../img/background.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    /*https://www.freepik.com/free-vector/abstract-blue-geometric-shapes-background_6166980.htm#page=1&query=abstract&position=1*/
    padding-bottom:100px;
}
.content-center{
    margin:auto;
    width:70%;
}
.form-center{
    margin:auto;
    width:60%;
}
.row{
    margin-top:20px;
}
.tos{
    font-size: 12px;
    margin-top:40px;
}
.info{
    text-align: justify;
    margin-top:100px;
    padding-bottom:50px;
}
.answer{
    width:90%;
}