body{
    background-color: black;
}
a{
    text-decoration: none !important;
}
#introduction, #outro, #Haridonna, #library, #contact-form{
    background-color: white;
}
.new{
    color:white;
    margin-top:60px;
}
.container-fluid{
    padding:5% 15%;
}
#title .container-fluid, .intro{
    padding:3% 15%;
}
.outro{
    padding:2% 15%;
}
.quote{
    text-align:center;
}
.title-margin{
    margin-top:20px;
}
@media (max-width:471px){
    .title-margin{
        margin-top:60px;
    }
}

/*Navigation bar*/
#brandlogo{
    height:40px;
    padding-left: 15%;
}
@media (max-width: 1000px){
    #brandlogo{
        padding-left: 0;
    }
}
.navbar{
    background-color: black;
}
.img-fluid{
    display:inline-block;
}
.collapse{
    padding-right: 15%;
}
/*----------------------------*/

/*Carousel*/
.carousel-inner{
    text-align: center;
    width:100%;
 
}
.carousel-item{
    color:white;
}
.carousel-buttons{
    padding-top:10%;
}
.carousel-spacing{
    margin-top:40px;
}
/*-------------------------------*/

/*Home Content*/
.ft-img{
    width:100%;
}
.mid-content{
    color:white;
    padding-top:100px;
}
.featurette-divider{
    background-color:rgba(148, 154, 158, 0.315);
    width:60%;
    margin-top:0;
    margin-bottom:0;
}
/*------------------------------*/

/*Footer Section*/
#footer{
    text-align:center;
    padding: 3% 0 1%;
}
.footer-icon{
    margin:0 0.5% 2%;
}
.footer-img{
    width:100%;
    height:100px;
}
/*---------------------------*/

/*Library.HTML*/
.library-divider{
    background-color:black;
    width:70%;
}
.library-header{
    background-color:black;
    margin-top:0;
    margin-bottom:2%;
}
.library-footer{
    background-color: black;
    margin-top: 2%;
    margin-bottom: 0;
}
.view-more{
    position: relative;
    float:right;
    margin-bottom:10px;
}
/*-------------------------*/

/*About.HTML*/
.title-about{
    color:white;
    margin:5%;
    line-height: 1.5;
    text-align: center;
}
@media (max-width:417px)
{
    .title-about{
        margin-top:30px;
    }
}
.about-content{
    color:black;
    padding-top:20px;
}
.about-img{
    max-width: 500px;
    max-height: 500px;
    width:60%;
}
/*---------------------------*/

/*Contact.HTML*/
.contact-form{
    width:80%;
}
.contact-icons{
    float: right;
    margin:auto;
    padding-top:100px;
}
.icons{
    color:#94bbe9;
    font-size: 2.5rem;
    margin-top:30%;
}
.icons:hover{
    color:#cbd8e6;
}
form{
    line-height: 2;
}
/*-----------------------------------*/

