@import url('https://fonts.googleapis.com/css2?family=Akaya+Telivigala&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Dancing+Script&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Merriweather:wght@300&display=swap');

body{
    margin:0;
    text-align: center;
}
h1{
    color: #66BFBF;
    font-family: "Dancing Script", Verdana, Geneva, Tahoma, sans-serif;
    font-size:5vw;
    position: absolute;
    top: 45%;
    left: 50%;
    transform: translate(-50%, -50%);
}
@media (max-width: 590px){
    h1{
        top:30%;
    }
}
h2{
    color:#66BFBF;
    font-family: "Merriweather",Verdana, Geneva, Tahoma, sans-serif;
    font-size: 2.5rem;
    line-height: 2;
    padding-bottom:10px;
}
h3{
    color:#11999E;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
a{
    color:#11999E;
    text-decoration: none;
}
a:hover{
    color:#EAF6F6;
}
p{
    color:#40514E;
    line-height: 2;
}
hr{
    border:dotted;
    border-bottom:none;
    color:#cdd8d8;
    margin:100px auto;
    width:5%;
}
.dreamer{
    font-weight: normal;
}
.intro{
    margin:auto;
    width:30%;
}
.top-container{
    background-color: #ccf2f4;
    padding-top:50px;
    position: relative; 
}
.middle-container{
    margin-bottom:50px;
}
.skills{
    overflow:hidden;
}
.skill-row{
    margin:100px auto;
    text-align: left;
    width:50%;
}
.bottom-container{
    background-color: #66BFBF;
    padding: 50px 0 20px;
}
.laptop{
    width:50%;
    height:50%;
}
.top-cloud{
    position: absolute;
    right:300px;
    top:50px;
}
.gameover{
    border-radius: 100%;
    float:left;
    margin-right:30px;
    width:25%;
}
.computer{
    border-radius: 100%;
    float:right;
    margin-left:30px;
    width:25%;
}
.footer-link{
    font-size:20px;
    margin:10px 30px;
}
.contact-message{
    margin:40px auto 60px;
    font-size: 20px;
    width:40%;
}
#nhien{
    border-radius: 100%;
    margin-top:50px;
}
#copyright{
    color:#EAF6F6;
    font-size:0.75rem;
    padding:20px 0 15px;
}
.btn {
    -webkit-border-radius: 20px;
    -moz-border-radius: 20px;
    border-radius: 8px;
    height: 15px;
    line-height: 15px;
    color: #FFFFFF;
    font-family: Tahoma;
    width: 150px;
    font-size: 30px;
    font-weight: 100;
    padding: 20px;
    background-color: #0EB4BA;
    text-decoration: none;
    display: inline-block;
    cursor: pointer;
    text-align: center;
 }
 
 .btn:hover {
    background: #7DD3D3;
    -webkit-border-radius: 20px;
    -moz-border-radius: 20px;
    border-radius: 8px;
    text-decoration: none;
 }